.container { 
  background-color: rgba(39, 39, 39, 0.63);
  width: 25rem;
  height: 40rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 0.7rem;
  border-radius: 15px;

}
.image {
border-radius: 100%;
width: 130px;
height: 130px;
padding: 15px
}
.name{
  color: rgb(255, 255, 255);
  font-size: 40px;
}
.city { 
  color: chartreuse;
}

.bio { 
  color: white;
}
.buttonDiv { 
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 0.4rem;
  margin-top: 30px;
  
}